:root {
    --text-color: #00303F;
    --one: #f8ffe5;
    --two: #06d6a0;
    --three: #1b9aaa;
    --four: #ef476f;
    --five: #ffc43d;}

body, html{
    height: 100%;
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
    font-size: 1rem;}

/*******HEADER********************************************/
header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: var(--two);
    z-index: 1;}

nav{width: 60%;}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;}    

li{
    margin: 0 1rem;
    font-weight: 700;}

li a:link, li a:visited{
    text-decoration: none;
}

li:hover{cursor: pointer;}
li:nth-child(1) a:hover{color: var(--one);}
li:nth-child(2) a:hover{color: var(--three);}
li:nth-child(3) a:hover{color: var(--four);}
li:nth-child(4) a:hover{color: var(--five);}

/*********************************************************/

#home h1, #about h1, #projects h1, #contact h1{
    background-color: var(--five);
    padding: 1rem;}

#about, #projects, #contact{text-align: center;}
#home, #about, #projects, #contact{
    background-color: var(--one);}

#home{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;}

.portrait{
    width: 80%;
    height: 20rem;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;}

img{
    width: 100%;
    height: auto;}

.photo{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-size: cover;
    border: 5px solid var(--three);}

.welcome-text {
    width: 50%;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);}

.no-margin{margin: 0;}

.projects{
    display: flex;
    justify-content: space-evenly;
}

.projects div{
    width: 30%;
    height: 20rem;
    background-color: #06d6a0;
}

/*******FOOTER********************************************/
footer{
    background-color: var(--three);
    display: flex;
    justify-content: center;}

footer p{
    margin: 1rem;
    color: var(--one);}